#content {
    max-width: 960px;
    margin: 50px;
}

#two-rectangles {
    width: 105px;

    display: flex;
    flex-direction: column;
    
}

.one {
    width: 100px;
    height: 50px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;

    background: #fc2fc2
}

#square {
    width: 102.5px;
    height: 102.5px;
    margin: -105px 2.5px 2.5px 102.5px;

    background: #fc2fc2
}

#three-squares {
    width: 110px;
    margin: -105px 2.5px 2.5px 207.5px;
    
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.two, .three, .four, .five, .seven, .eight {
    width: 50px;
    height: 50px;
    margin: 0 2.5px 2.5px 0;

    background: #fc2fc2
}

#baseline {
    display: flex;
    flex-direction: row;
}

.six {
    width: 100px;
    height: 50px;
    margin-right: 2.5px;

    background: #fc2fc2;
}

#vertical-rectangle {
    width: 50px;
    height: 105px;
    margin: -107.5px 0 0 260px;

    background: #fc2fc2;
}