#content {
    max-width: 960px;
    margin: 50px auto;
    font-size: .5em;

}

#blue {
    width: 315px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.one, .two, .three, .four {
    background: lightblue;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
}

.one, .two, .three {
    height: 25px;
    width: 100px;
}

.four {
    height: 52.5px;
    width: 202.5px;
    margin-left: 5px;
}

#green {
    width: 205px;
    margin-left: 315px;
    margin-top: -55px;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap-reverse;
    justify-content: flex-end
}

#blue-and-green {
    max-width: 210px;
    margin-left: 110px;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
    width: 100px;
    height: 25px;
    background: green;

    margin-right: 2.5px;
    margin-bottom: 2.5px;
}

.six {
    background: lightblue;
}

#green-big {
    height: 52.5px;
    width: 202.5px;
    margin-left: 315px;
    margin-top: -55px;
    background: green;
}

#green-and-purple {
    width: 310px;
    margin-left: 107.5px;
    margin-top: 2.5px;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.thrirteen {
    height: 52.5px;
    width: 202.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;

    background: purple;
}

.fourteen, .fifteen, .sixteen, .seventeen {
    width: 100px;
    height: 25px;
    background: purple;

    margin-right: 2.5px;
    margin-bottom: 2.5px;
}

#purple {
    width: 205px;
    margin-left: 417.5px;
    margin-top: -82.5px;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}