#content {
    width: 960px;
    margin: 50px;
}

#pink-rectangle {
    width: 200px;
    height: 102.5px;

    background: #fc2fc2;
}

#blue-rectangle {
    width: 200px;
    margin: -102.5px 0 0 202.5px; 

    display: flex;
    flex-direction: column;
}

.one {
    width: 200px;
    background: lightblue;

    height: 50px;
    margin-bottom: 2.5px;
}

#baseline {
    width: 402.5px;
    height: 50px;
    margin-bottom: 2.5px;

    background: #fc2fc2;
}

#baseline-rectangles {
    display: flex;
    flex-direction: row;
}

.two {
    width: calc(392.5px / 5);
    height: 50px;
    margin-right: 2.5px;

    background: orange;
}